// Variables
$image-mountains: url(../images/mountains.jpg);
$image-mountains_landscape: url(../images/mountains_landscape.jpg);
$image-mountains_portrait: url(../images/mountains_portrait.jpg);
$image-mountains_square: url(../images/mountains_square.jpg);

$wrap-page: 1200px;

$white: #fff;
$gray: #ccc;
$black: #000;
